@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ------------------------------------ */

$colors: rgb(68, 109, 108);

html {
	font-family: "Vazirmatn", sans-serif;
}

body {
	background: url("/assets/bg-roof.jpg");
	background-color: gray;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom left;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	// margin-top: 9rem;
	align-items: center;
	height: fit-content;
	min-height: 100vh;
	box-sizing: border-box;
}

header {
	position: fixed;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.472);
}

#menu {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
	margin: auto;
	li {
		padding: 0.75rem 1rem 1rem;
	}
}
