@tailwind base;
@tailwind components;
@tailwind utilities;
 /* ------------- */


$colors : rgb(68, 109, 108);


body {
    background-image: url("/assets/bg-roof.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}