@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap");

$colors: (
	first: rgb(12, 93, 85),
	second: rgb(180, 154, 103),
	third: rgb(165, 64, 45),
	fourth: rgb(49, 49, 73),
	//
	light: rgb(237, 237, 237),
	darks: rgb(33, 33, 33),
);

// -------------------------

html {
	font-family: "Vazirmatn", sans-serif;
	position: relative;
	color: map-get($colors, light);
}

body {
	background: url("/assets/IMG_2490-funal.jpg");
	background-color: gray;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom left;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: start;
	// align-items: center;
	padding-top: 8rem;
	height: 100vh;
}

.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
